<!DOCTYPE html>
<html>
<head>
  <title>Railsblog</title>
  <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">My Rails Blog</a></h1>
				<p>Learning Ruby on Rails</p>
			</div>
			<div id="menu">
				<ul>
					<li><%= link_to "home", root_path %></li>
					<li><%= link_to "blog", posts_path %></li>
					<li><%= link_to "about us", about_path %></li>
					<li><%= link_to "contact us", contact_path %></li>
					<li><%= link_to "resources", resources_path %></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->